<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:name="OnlyChatApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".GroupChat.MessageBottomDialogFragmentChatting"
            android:exported="false" />
        <activity
            android:name=".GroupChat.GroupChat"
            android:exported="false" />
        <activity
            android:name=".GroupChat.AddMember"
            android:exported="false" />
        <activity
            android:name=".GroupChat.ListMessage.ListMessage"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" /> <!-- <activity -->
        <!-- android:name=".ChatBot.ChatBot" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".DirectMessage.ChattingActivity"
            android:exported="false" />
        <activity
            android:name=".DirectMessage.Option.OptionActivity"
            android:exported="false" />
        <activity
            android:name=".MainScreen.MainScreen"
            android:exported="false" />
        <activity
            android:name=".EditProfile.EditProfileStep2"
            android:exported="false" />
        <activity
            android:name=".GroupChat.GroupChatSetting"
            android:exported="true" />
        <activity
            android:name=".EditProfile.EditProfile"
            android:exported="true" />
        <activity
            android:name=".Profile.Profile"
            android:exported="false" />
        <activity
            android:name=".Profile.ProfileNotFound"
            android:exported="false" />
        <activity
            android:name=".Authetication.ResetPassword"
            android:exported="true" />
        <activity
            android:name=".Authetication.OTP"
            android:exported="true" />
        <activity
            android:name=".Authetication.ForgotActivity"
            android:exported="true" />
        <activity
            android:name=".Authetication.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".Authetication.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GlobalChat.GlobalChat"
            android:exported="false" />
        <activity
            android:name=".GlobalChat.ListMessage.ListMessage"
            android:exported="false" />
        <activity
            android:name=".GlobalChat.ListMessage.Options.Options"
            android:exported="false" />
        <activity
            android:name=".Friends.Friends"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>